.mainImg {
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto 2rem;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.secondaryImg {
  max-width: 425px;
  margin: 2rem auto;
  border-radius: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
