.bitmoji-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.bitmoji {
  padding: 0 0.65rem;
  height: 35px;
  width: 28px;
  transition: 0.75s;
}
.bitmoji:hover {
  transform: rotate(360deg);
}
