.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  max-width: none;
  font-size: 1.25em;
  background-color: white;
  margin-bottom: 2em;
  border-bottom: 1px solid lightgray;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
}
