.techs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 1em;
}
.technology {
  display: inline-block;
  padding: 0.5em 1em;
}

.technologyText {
  text-align: center;
}
